* {
	margin: 0;
	padding: 0;
/* 	box-sizing: border-box; */
	/* font-size: 30rem; */
}

.navbar{

	background-color: #8B4513;
	font-family: Vollkorn;

}
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #8B4513;
   color: #FAF0E6;
   text-align: center;
   font-family: vollkorn;
}
#footer-text{
	color:#8B4513;
}
/*,#FAF0E6, #ffe4e1,#8B4513*/
body {
	background-image: url(gridbg.jpg);
	background-repeat: repeat;
	background-size: 200px;
	height: 100%;
	font-family: 'Nunito';
}
#title-bar{
	background-color: #FAF0E6;
	color: #8B4513;
	border-radius: 10px;
	font-family: vollkorn;
}		
/* my buttons */
.content{
	background-color: #FAF0E6;
	color: #8B4513;
	border-radius: 10px;
	font-size: 1rem;
    text-align: justify;
}
/*FLIP CARDS*/
 
.flip-card-inner {
  position: relative;
  width: 200px;
  height: 300px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 200px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
#card-collection{
	align-content: center;
	width:60%;
}
.fab{
	font-size: 2rem;
	margin:5px;
	color:#8B4513;
}
